* {
    padding: 0;
    margin: 0;
}

.bfs_year-calendar-cell {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    position: relative;
    /*border: 1px solid black;*/
    width: 60px;
    padding: 2px;
    height: 60px;
    border-left: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.bfs_year-calendar-cell:last-of-type{
    border-right: 1px solid #aaa;
}

.bfs_year-calendar-cell:hover {
    background-color: #ddd;
    border-top: 1px solid #ddd;
    cursor: pointer;
}

.bfs_year-calendar-cell_gray {
    background-color: #eee;
}

.bfs_year-calendar-cell_gray-month {
    background-color: #eee;
}

.bfs_year-calendar-cell_hovered_day {
    background-color: #ddd;
}

.bfs_year-calendar-cell-no_day {
    border-bottom: none;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    position: relative;
    /*border: 1px solid black;*/
    width: 60px;
    padding: 2px;
    height: 60px;
    box-sizing: border-box;
}

.bfs_year-calendar-cell:last-child {
    border-right: 1px solid #e5e5e5;
}

.bfs_year-calendar-cell__grid-event {
    border-radius: 50%;
    margin:1px;
}

.bfs_year-calendar-cell__grid-day {
    margin: 1px;
    position: absolute;
    right: 0;
    grid-column: 3/3;
    grid-row: 1/1;
}

.bfs_year-calendar-cell_grid-21 {
    grid-column: 1/1;
    grid-row: 2/2;
}

.bfs_year-calendar-cell_grid-22 {
    grid-column: 2/2;
    grid-row: 2/2;
}
.bfs_year-calendar-cell_grid-23 {
    grid-column: 3/3;
    grid-row: 2/2;
}
.bfs_year-calendar-cell_grid-31 {
    grid-column: 1/1;
    grid-row: 3/3;
}
.bfs_year-calendar-cell_grid-32 {
    grid-column: 2/2;
    grid-row: 3/3;
}
.bfs_year-calendar-cell_grid-33 {
    grid-column: 3/3;
    grid-row: 3/3;
}


.bfs_year-calendar-blank {
    display: inline-block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}


.bfs_year-calendar-header-cell {
    display: inline-block;
    width: 60px;
    height: 60px;;
    padding: 2px;
    text-align: center;
    line-height: 60px;;
    font-size: 24px;
    box-sizing: border-box;
}

.bfs_year-calendar-month-cell {
    float: left;
    border-right: 1px solid #e5e5e5;
}

.bfs_year-calendar {
    width: 2340px;
    height: 780px;
    font-family: 'Montserrat', sans-serif;
}

.bfs_year-calendar-row {
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    height: 60px;;
}

.bfs_year-calendar-header {
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5; 
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    height: 60px;;
}
